body		{ background-color:#333366; margin:0px; border:0px; padding:0px; }
table		{ width:100%; margin:0px; border:0px; padding:0px; border-color:#333366; }
tr			{ margin:0px; border:0px; padding:0px; background-color:#f0f0f0; }
th			{ margin:0px; border:0px; padding:2px; background-color:#d0d0d0; font-size:0.6em; }
td			{ margin:0px; border:0px; padding:2px; background-color:#f0f0f0; font-size:0.6em; max-height:48px;  }
td.s_title	{ white-space:nowrap; }
td.s_number	{ white-space:nowrap; text-align:center; }
td.s_text_	{ font-size:0.6em; min-height:16px; min-width:256px; max-height:48px; max-width:100%; display:inline-block; text-overflow:scroll; }
td.s_text	{ font-size:0.6em; display:inline-block; text-overflow:hidden; }
td.s_code	{ white-space:nowrap; text-align:center; }
a			{ text-decoration:none; } 
